In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("PythonExcel.csv")
data

   Category                                          String
0     Fruit             Apple| Peach | Blueberry | Rasberry
1  Vegtable                    Lettuce | Cucumber | Spinach
2    Animal  Wolf | Dog | Cat | Shark | Tiger | Bear | Fo |

In [12]:
categories = data["Category"]
items = data["String"]
itemList = []
for i in items:
    #print(i)
    addList = []
    addList = i.split('|')
    itemList.append(addList)
itemList

[['Apple', ' Peach ', ' Blueberry ', ' Rasberry'],
 ['Lettuce ', ' Cucumber ', ' Spinach'],
 ['Wolf ', ' Dog ', ' Cat ', ' Shark ', ' Tiger ', ' Bear ', ' Fo ', '']]

In [14]:
categories[0]
itemDict = {}

j=0
for i in categories:
    itemDict[i] = itemList[j]
    j+=1
itemDict

{'Fruit': ['Apple', ' Peach ', ' Blueberry ', ' Rasberry'],
 'Vegtable': ['Lettuce ', ' Cucumber ', ' Spinach'],
 'Animal': ['Wolf ',
  ' Dog ',
  ' Cat ',
  ' Shark ',
  ' Tiger ',
  ' Bear ',
  ' Fo ',
  '']}

In [ ]:
list